<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="포켓"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project__"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:label = "홈"
            android:exported="true">

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="회원가입"
            android:exported="true">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label = "로그인"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label = "채팅"
            android:exported="true">

        </activity>
        <activity
            android:name=".PostView"
            android:label="글보기"
            android:exported="true">
        </activity>
        <activity
            android:name=".PostWriting"
            android:label = "글쓰기"
            android:exported="true">
        </activity>

    </application>

</manifest>